<mat-toolbar class="mat-toolbar mat-toolbar-single-row"
  ><a [routerLink]="['/']"><span>Trash Bin Finder</span></a
  ><span class="spacer"></span>
  <span class="icons-wrapper"
    ><button [routerLink]="['/main']" class="mat-icon-button">
      <span class="mat-button-wrapper">
        <mat-icon role="img" class="mat-icon notranslate">search</mat-icon>
      </span></button
    ><button [routerLink]="['/']" class="mat-icon-button">
      <span class="mat-button-wrapper">
        <mat-icon role="img" class="mat-icon notranslate">home</mat-icon>
      </span>
    </button>
  </span></mat-toolbar
>
