/* You can add global styles to this file, and also import other style files */
/* Global Styles */

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

/* Text */



h2 {
  font-size: 20px;
}


/* Hyperlink */

a {
  cursor: pointer;
  text-decoration: none !important;
}

a:hover {
  opacity: 0.8;
}

/* Input */



.button,
button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  outline: none !important;
  color: darkgray;
}

.button:hover,
button:hover {
  opacity: 0.8;
  font-weight: normal;
}



/*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
